
{% extends 'base.html' %}

{% block content %}

<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <img class="card-img-top" src="https://media.istockphoto.com/photos/sunny-bright-blue-sky-with-clouds-picture-id471298483?b=1&k=20&m=471298483&s=170667a&w=0&h=YiNMUNjB9WUGCiI1yn6K6HuUBcXLm16V_7V5BCsqkNI=">
                <div class="card-body">
                <h5 class="card-title">Today's weather for {{weather.name}}</h5>
                  <p class="card-text">Minimum temperature: {{weather.main.temp_min}}&degC</p>
                  <p class="card-text">Maximum temperature: {{weather.main.temp_max}}&degC</p>
                  <p class="card-text">Current temperature: {{weather.main.temp}}&degC</p>
                  <a href="/" class="btn btn-sm btn-primary">Home</a>
                  <!-- <a href="/forecast/{{weather.name}}" class="btn btn-sm btn-primary">Five-day forecast</a>                   -->
                  <a href="/forecast/{{weather.name}}" class="btn btn-sm btn-primary">Five-day forecast</a>                  
                </div>
              </div>
        </div>        
    </div>
    
</div>




</body>

{% endblock %}

